html,
body {
  
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1b1b1b;
}

.help{
  color: azure;
  background-color: #1B1B1B;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.split{
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
}
canvas{
  background-color: white;
  width: 100%;
  max-width: 800px;
  margin-top: 45px;
}
